
.vsl-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    --dsn-icon-size: 32px;
}
.vsl-button .dsn-btn {
    padding: none;
    height: 128px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--theme-color) !important;
}
.vsl-button .icon-circle {
    border-radius: 100%;
    background-color: var(--theme-color) !important;
}

.lead-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lead-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.video-overlay {
    opacity: 0.5;
}
